.content-header {
    padding-top: 1rem;
    padding-bottom: 0;

    .header-container{
        width: 100%;
        max-width: 768px;
        padding: 2rem 0.75rem 0;
        margin-right: auto;
        margin-left: auto;
        .image-wrapper {
            position: relative;
            display: block;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
    
            img{
                display: block;
                max-width: 100%;
                width: 100%;
                height: auto;
                margin: 0 auto;
                display: block;
            }
        }

        .detail-flashcard-title{

            a{
                font-weight: 500;
                padding: 0.25rem 0.5rem;
                font-size: .875rem;
                line-height: 1.5;
                border-radius: 0.35rem;
                margin: 0 4px;
            }
        }
    }
}


.flashcard-list-container{
    max-width: 768px;
    width: 100%;
    padding: 2rem 0.75rem 3rem;
    margin-right: auto;
    margin-left: auto;

    .flashcard-play{
        
        .btn{
            font-weight: 500;
        }

        .btn:hover{
            color: #fff;
            background-color: #2e4687;
            border-color: #283c74;
        }
    }

    .text-danger{
        float: right;
        color: #e43a45;
        font-weight: 400;
        cursor: pointer;
    }
}

.card-content{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;

    .audio-player-btn{
        width: 30px;
        height: 30px;
        background-color: #e8f2ff;
        color: #0c6ff9;
        display: inline-flex;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        font-size: 15px;
    }

    span{
        margin: 0 2px;
    }
}

.delete-content{
    display: flex;
    justify-content: flex-end;
    a{
        color: #e43a45;
    }
}

.button-group{
    display: flex;
    justify-content: space-between !important;
}